<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Meteor list</span>
  </mat-toolbar-row>
</mat-toolbar>

<form [formGroup]="filterForm">
  <mat-grid-list cols="1" rowHeight="10:1">
    <mat-grid-tile>
      <mat-form-field>
        <input
          matInput
          formControlName="fallYear"
          [matDatepicker]="picker"
          placeholder="Select a year"
          name="date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker
          #picker
          touchUi
          startView="multi-year"
          disabled="false"
          (yearSelected)="filterByDate($event, picker)"
        ></mat-datepicker>
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile
      ><mat-form-field>
        <input
          matInput
          type="number"
          placeholder="Enter larger then mass"
          formControlName="meteorMass"
          name="mass"
          (change)="filteringByMass($event)"
        />
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>
</form>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="tableData">
    <ng-container matColumnDef="fall">
      <th mat-header-cell *matHeaderCellDef>fall</th>
      <td mat-cell *matCellDef="let element">{{ element.fall }}</td>
    </ng-container>

    <ng-container matColumnDef="geolocation">
      <th mat-header-cell *matHeaderCellDef>geolocation</th>
      <td mat-cell *matCellDef="let element">
        <p *ngFor="let item of element.geolocation?.coordinates">
          {{ item }}
        </p>
        <p *ngIf="element.geolocation === undefined">
          No geolocation data
        </p>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="mass">
      <th mat-header-cell *matHeaderCellDef>mass</th>
      <td mat-cell *matCellDef="let element">{{ element.mass }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="nametype">
      <th mat-header-cell *matHeaderCellDef>nametype</th>
      <td mat-cell *matCellDef="let element">{{ element.nametype }}</td>
    </ng-container>

    <ng-container matColumnDef="recclass">
      <th mat-header-cell *matHeaderCellDef>recclass</th>
      <td mat-cell *matCellDef="let element">{{ element.recclass }}</td>
    </ng-container>

    <ng-container matColumnDef="reclat">
      <th mat-header-cell *matHeaderCellDef>reclat</th>
      <td mat-cell *matCellDef="let element">
        {{ element.reclat | number: "1.0-0" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="reclong">
      <th mat-header-cell *matHeaderCellDef>reclong</th>
      <td mat-cell *matCellDef="let element">
        {{ element.reclong | number: "1.0-0" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef>year</th>
      <td mat-cell *matCellDef="let element">
        {{ element.year | date: "shortDate" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-card
    *ngIf="isLoading"
    style="display: flex; justify-content: center; align-items: center"
  >
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
</div>
